services:
  redis:
    image: redis:6.2-alpine
    ports:
      - "6379:6379"

  valkey:
    image: valkey/valkey:8.1-alpine
    ports:
      - "6380:6379"

  valkey-cluster:
    profiles:
      - cluster
    image: valkey/valkey:8.1-alpine
    depends_on:
      - valkey-node-1
      - valkey-node-2
      - valkey-node-3
    entrypoint: ["/bin/sh", "-c"]
    command:
      - |
        sleep 5
        valkey-cli --cluster create valkey-node-1:6379 valkey-node-2:6379 valkey-node-3:6379 --cluster-replicas 0 --cluster-yes
        tail -f /dev/null
    networks:
      - valkey-cluster

  valkey-node-1:
    profiles:
      - cluster
    image: valkey/valkey:8.1-alpine
    command: valkey-server --cluster-enabled yes --cluster-config-file nodes.conf --cluster-node-timeout 5000 --appendonly yes --port 6379 --cluster-announce-ip valkey-node-1
    ports:
      - "7100:6379"
    networks:
      - valkey-cluster

  valkey-node-2:
    profiles:
      - cluster
    image: valkey/valkey:8.1-alpine
    command: valkey-server --cluster-enabled yes --cluster-config-file nodes.conf --cluster-node-timeout 5000 --appendonly yes --port 6379 --cluster-announce-ip valkey-node-2
    ports:
      - "7101:6379"
    networks:
      - valkey-cluster

  valkey-node-3:
    profiles:
      - cluster
    image: valkey/valkey:8.1-alpine
    command: valkey-server --cluster-enabled yes --cluster-config-file nodes.conf --cluster-node-timeout 5000 --appendonly yes --port 6379 --cluster-announce-ip valkey-node-3
    ports:
      - "7102:6379"
    networks:
      - valkey-cluster

  redis-cluster:
    profiles:
      - cluster
    image: grokzen/redis-cluster:7.0.8
    environment:
      - IP=0.0.0.0
      - INITIAL_PORT=7000
      - MASTERS=3
      - SLAVES_PER_MASTER=0
    ports:
      - "7000:7000"
      - "7001:7001"
      - "7002:7002"

  redis-insight:
    image: redis/redisinsight:latest
    ports:
      - "5540:5540"

  dynamodb:
    image: amazon/dynamodb-local
    ports:
      - "8000:8000"

  postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"

  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: mysql
    ports:
      - "3306:3306"

  lgtm:
    image: grafana/otel-lgtm:latest
    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - "3001:3000" # Grafana
      - "3100:3100" # Loki HTTP API
      - "3200:3200" # Tempo HTTP API
      - "4317:4317" # OTLP gRPC
      - "4318:4318" # OTLP HTTP
      - "9090:9090" # Prometheus
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_AUTH_DISABLE_LOGIN_FORM=true

networks:
  valkey-cluster:
