name: CI

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 21

    - name: Install pnpm
      run: |
        corepack enable
        corepack prepare pnpm@latest --activate

    - name: Install dependencies
      run: pnpm install

    - name: Lint
      run: pnpm lint

  typecheck:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 21

    - name: Install pnpm
      run: |
        corepack enable
        corepack prepare pnpm@latest --activate

    - name: Install dependencies
      run: pnpm install

    - name: Typecheck
      run: pnpm typecheck

  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 21

    - name: Install pnpm
      run: |
        corepack enable
        corepack prepare pnpm@latest --activate

    - name: Install dependencies
      run: pnpm install

    - name: Typecheck
      run: pnpm build

  tests:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    services:
      redis:
        image: redis:6.2-alpine
        ports:
          - 6379:6379
      redis-insight:
        image: redislabs/redisinsight:latest
        ports:
          - 8001:8001
      dynamodb:
        image: amazon/dynamodb-local
        ports:
          - 8000:8000
      postgres:
        image: postgres:15-alpine
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: postgres
        ports:
          - 5432:5432
      mysql:
        image: mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: mysql
        ports:
          - 3306:3306

    steps:
    - uses: actions/checkout@v2

    - name: Setup Node.js
      uses: actions/setup-node@v2
      with:
        node-version: 21

    - name: Install pnpm
      run: |
        corepack enable
        corepack prepare pnpm@latest --activate

    - name: Install dependencies
      run: pnpm install

    - name: Run tests
      env:
        REDIS_HOST: localhost
        REDIS_PORT: 6379
        DYNAMODB_ENDPOINT: http://localhost:8000
        UPSTASH_HOST: ${{ secrets.UPSTASH_HOST }}
        UPSTASH_PORT: ${{ secrets.UPSTASH_PORT }}
        UPSTASH_USERNAME: ${{ secrets.UPSTASH_USERNAME }}
        UPSTASH_PASSWORD: ${{ secrets.UPSTASH_PASSWORD }}
      run: FORCE_COLOR=1 pnpm test
